* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.active {
    opacity: 1;
    color: white;
}

.my-scroll {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(241, 241, 241, 0.5215686275) #121212;
}

.my-scroll::-webkit-scrollbar {
    width: 6px;
}

.my-scroll::-webkit-scrollbar-track {
    background-color: #121212;
}

.my-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(241, 241, 241, 0.5215686275);
    border-radius: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva", sans-serif;
    background-color: #1a1a1a;
}

body #main {
    min-height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "side-bar top-bar top-bar" "side-bar main-view main-view" "now-playing-bar now-playing-bar now-playing-bar";
}

#top-bar {
    transition: opacity 1s ease-in-out;
    grid-area: top-bar;
    background-color: rgba(0, 0, 0, 0.5);
    height: 4rem;
    padding: 1rem 2rem;
    z-index: 1;
}

#top-bar .btn-nav {
    opacity: 0.6;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#top-bar .btn-nav:hover {
    opacity: 1;
    transform: scale(1.05);
}

#action-buttons {
    gap: 1rem;
    flex: 1;
}

#action-buttons button {
    opacity: 0.6;
    background-color: #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#action-buttons button i {
    color: #fff;
    font-size: 1rem;
}

#action-buttons button:is(.active) {
    opacity: 1;
}

#action-buttons button:hover {
    cursor: not-allowed;
}

#vertical-line {
    width: 1px;
    height: 1.5rem;
    margin: 0 1rem;
    background: #fff;
}

/* viết từ đây */
#sign-up-in #icon {
    line-height: 2rem;
    background-color: #000;
    padding: 0rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

#sign-up-in #icon:hover {
    transform: scale(1.05);
}

/*  đến đây  */


#sign-up-in {
    height: 2.5px;
}

#sign-up-in #sign-up {
    line-height: 2rem;
    /* background-color: black; */
    padding: 0rem 1rem;
    font-weight: 700;
}

#sign-up-in #sign-up:hover {
    opacity: 1;
    transform: scale(1.05);
}

#sign-up-in #sign-in {
    line-height: 2rem;
    background-color: black;
    padding: 0rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

#sign-up-in #sign-in:hover {
    transform: scale(1.05);
}


#main-view {
    grid-area: main-view;
}

#home-page {
    max-height: calc(100vh - 8.5rem);
}

#home-page section {
    padding: 0 2rem;
}

#home-page section .title {
    margin-bottom: 1rem;
}

#home-page section .title h3>a {
    font-size: 1.5rem;
    font-weight: 700;
}

#home-page section .title a {
    display: block;
    font-size: 0.875rem;
}

#home-page section .title a:hover {
    text-decoration: underline;
}

#home-page section .content {
    transition: opacity 1s ease-in-out;
}

#home-page section .content .overlay {
    cursor: pointer;
    background-color: #121212;
    padding: 1rem;
}

#home-page section .content .overlay .item .item-img {
    margin-bottom: 1rem;
}

#home-page section .content .overlay .item .item-content a {
    padding-bottom: 0.3rem;
}

#home-page section .content .overlay .item .item-content a span {
    font-size: 1rem;
    font-weight: 700;
}

#home-page section .content .overlay .item .item-content p {
    padding-top: 0.25rem;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    opacity: 0.5;
}

#home-page section .content .overlay:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.25));
    opacity: 0.8;
}

#side-bar {
    grid-area: side-bar;
    padding: 1.5rem 0 0 0;
    height: 100%;
    width: 240px;
    background-color: #000;
}

#logo {
    margin: 0 0 1.125rem;
    padding: 0 1.5rem;
}

#logo a {
    display: block;
    width: 100%;
    line-height: 2rem;
}

#logo a i {
    font-size: 2.5rem;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 0 0.5rem;
}

#menu ul li a {
    opacity: 0.6;
    padding: 0 1rem;
    height: 2.5rem;
    gap: 1rem;
}

#menu ul li a i {
    font-size: 1.5rem;
}

#menu ul li a span {
    font-size: 0.875rem;
    font-weight: 700;
}

#menu ul li a:is(.active),
#menu ul li a:hover {
    opacity: 1;
}

#user-actions .action-button {
    padding: 0.5rem 1.5rem;
}

#user-actions .action-button button {
    opacity: 0.6;
    width: 100%;
    background-color: #000;
    gap: 1rem;
}

#user-actions .action-button button span:first-child {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.125rem;
}

#user-actions .action-button button span:first-child i {
    font-size: 0.75rem;
    font-weight: 600;
}

#user-actions .action-button button .playlist-add {
    background-color: white;
}

#user-actions .action-button button .playlist-add i {
    color: black;
}

#user-actions .action-button button .liked-song {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

#user-actions .action-button button .liked-song i {
    color: white;
}

#user-actions .action-button button span {
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
}

#user-actions .action-button button:is(.active),
#user-actions .action-button button:hover {
    opacity: 1;
}

#user-settings .cookie {
    margin: 2rem 0;
    padding: 0 1.5rem;
}

#user-settings .cookie a {
    opacity: 0.6;
    text-decoration: none;
    font-size: 0.6875rem;
}

#user-settings .cookie a:hover {
    opacity: 1;
    text-decoration: underline;
}

#user-settings .languages {
    margin: 0 0 2rem;
    padding: 0 1.5rem;
    margin-bottom: 100px;
}

#user-settings .languages button {
    background-color: black;
    border: 0.8px solid rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    height: 2rem;
    color: #fff;
    gap: 0.25rem;
}

#user-settings .languages button span {
    font-size: 0.875rem;
    font-weight: 700;
}

#user-settings .languages button:hover {
    border: 0.8px solid rgb(255, 255, 255);
    transform: scale(1.05);
}

footer {
    grid-area: now-playing-bar;
    width: 100%;
    background-color: #181818;
    color: white;
    height: auto;
}

footer #now-playing-bar {
    padding: 0.75rem 1rem;
}

footer #now-playing-bar #now-playing-bar-left img {
    width: 56px;
    height: 56px;
}

footer #now-playing-bar #now-playing-bar-left .title {
    font-size: 1rem;
    letter-spacing: -1px;
}

footer #now-playing-bar #now-playing-bar-left .authors {
    font-size: 0.6rem;
}

footer #now-playing-bar #now-playing-bar-left .authors a {
    color: #7c7c7c;
}

footer #now-playing-bar #now-playing-bar-left .authors a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

footer #now-playing-bar #now-playing-bar-left div>i {
    opacity: 0.6;
}

footer #now-playing-bar #now-playing-bar-left div:hover>i {
    opacity: 1;
}

footer #now-playing-bar #now-playing-bar-center .player-controls button {
    width: 32px;
    height: 32px;
    background-color: #181818;
}

footer #now-playing-bar #now-playing-bar-center .player-controls button i {
    color: #FFF;
}

footer #now-playing-bar #now-playing-bar-center .playback-bar .playback-position,
footer #now-playing-bar #now-playing-bar-center .playback-bar .playback-duration {
    font-size: 0.6rem;
}

footer #now-playing-bar #now-playing-bar-center .playback-bar .progress-bar {
    background-color: #5e5e5e;
    height: 4px;
}

footer #now-playing-bar #now-playing-bar-right .volumn-bar {
    width: 100px;
    background-color: #5e5e5e;
    height: 4px;
}

/*# sourceMappingURL=index_login.css.map */
.zrvvPyoxE6wQNqnu0yWA {
    background-color: #333;
    border: 0;
    border-radius: 4px;
    color: hsla(0, 0%, 100%, .7);
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    letter-spacing: .24px;
    line-height: 20px;
    padding: 0 32px 0 12px;
    width: 100%;
}

/* Nut tim kiem */
#search-btn {
    background-color: #333;
}

#search-container {
    background-color: #333;
}

#search-input {
    background-color: #333;
}

.search-container {
    display: none;


    width: 200px;
    background-color: #fff;

}

.search-container.show {
    display: block;
}


.hightlightWord:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.card-text {
    color: lightgray;
    font-size: x-small;
}

#menu {
    padding-left: 0;
    z-index: 1;
}

#chon {
    margin-top: 7%;

}

/* border-bnt*/
.bd-btn {
    border: 1px solid black;
}

/* Ẩn nút "play" mặc định */
.play-btn {
    display: none;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 3px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Hiển thị nút "play" khi có lớp "show" */
.play-btn.show {
    background-color: #1ed760;
    display: block;
}

/* Hiện play ở giữa card */
.play-btn-wrapper {

    position: absolute;
    /* hoặc sử dụng relative nếu cần */
    top: 39%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play-btn-wrapper2 {

    position: absolute;
    /* hoặc sử dụng relative nếu cần */
    top: 42%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* background sang */
.card.bg-bg {
    background-color: #282828;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.card.bg-bg:hover {
    background-color: gray;
}


/* code   */

a {
    color: white;
}

.btn-secondary:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.hightlightWord:hover {
    text-decoration: underline;
    cursor: pointer;
}

#menu {
    padding-left: 0;
    z-index: 1;
}

#chon {
    margin-top: 5%;

}

/* Ẩn nút "play" mặc định */
.play-bttt {
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 5px;
    margin: 4px 2px;
    cursor: pointer;
}

/*size anh audio*/
#sizeImg {
    height: 100%;
    width: 100px;
}

.detailHover:hover {
    background-color: #282828;
}

.follow {
    background-color: transparent;
    border: 1px solid hsla(0, 0%, 100%, .3);
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 16px;
    padding: 7px 15px;
    text-align: center;
    text-transform: uppercase;
}

/* chinh anh row */
.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    /* tùy chỉnh chiều cao của row bằng 100% chiều cao của viewport */
}

/* chinh follow anh */
.follow:hover {
    transform: scale(1.05);
}

#main-view {
    grid-area: main-view;
    max-height: 80vh;
    overflow-y: scroll;
}

#main-view::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    #anh {
        margin-left: 10px;
        height: 55px;
        width: 100px;

    }

    .player-controls-center {
        margin-left: 100px;
    }

}

@media (max-width: 600px) {
    #anh {
        margin-left: 10px;
        height: 55px;
        width: 100px;

    }

    .player-controls-center {
        margin-left: 130px;
    }

    #now-playing-bar-center {
        margin-left: 80px;
    }

    .playback-bar {
        margin-left: 20px;
    }

    .title {
        width: 140px;
    }
}

@media (max-width: 415px) {
    #anh {
        margin-left: 10px;
        height: 55px;
        width: 100px;

    }

    .player-controls-center {
        margin-left: 120px;
    }

    #now-playing-bar-center {
        margin-left: 80px;
    }

    .playback-bar {
        margin-left: 10px;
    }

    .title {
        width: 70px;
    }

    #sign-in {
        display: none;
    }
}