* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.active {
    opacity: 1;
    color: white;
}

.my-scroll {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(241, 241, 241, 0.5215686275) #121212;
}

.my-scroll::-webkit-scrollbar {
    width: 6px;
}

.my-scroll::-webkit-scrollbar-track {
    background-color: #121212;
}

.my-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(241, 241, 241, 0.5215686275);
    border-radius: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva", sans-serif;
    background-color: #1a1a1a;
}

body #main {
    min-height: 100vh;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "side-bar top-bar top-bar" "side-bar main-view main-view" "now-playing-bar now-playing-bar now-playing-bar";
}



#top-bar {
    transition: opacity 1s ease-in-out;
    grid-area: top-bar;
    background-color: rgba(0, 0, 0, 0.5);
    height: 4rem;
    padding: 1rem 2rem;
    z-index: 1;
}

#top-bar .btn-nav {
    opacity: 0.6;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

#top-bar .btn-nav:hover {
    opacity: 1;
    transform: scale(1.05);
}

#action-buttons {
    gap: 1rem;
    flex: 1;
}

#action-buttons button {
    opacity: 0.6;
    background-color: #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

#action-buttons button i {
    color: #fff;
    font-size: 1rem;
}

#action-buttons button:is(.active) {
    opacity: 1;
}

#action-buttons button:hover {
    cursor: not-allowed;
}

#vertical-line {
    width: 1px;
    height: 1.5rem;
    margin: 0 1rem;
    background: #fff;
}

/* viết từ đây */
#sign-up-in #icon {
    line-height: 2rem;
    background-color: #000;
    padding: 0rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

#sign-up-in #icon:hover {
    transform: scale(1.05);
}

/*  đến đây  */


#sign-up-in {
    height: 2.5px;
}

#sign-up-in #sign-up {
    line-height: 2rem;
    /* background-color: black; */
    padding: 0rem 1rem;
    font-weight: 700;
}

#sign-up-in #sign-up:hover {
    opacity: 1;
    transform: scale(1.05);
}

#sign-up-in #sign-in {
    line-height: 2rem;
    background-color: black;
    padding: 0rem 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

#sign-up-in #sign-in:hover {
    transform: scale(1.05);
}


#main-view {
    grid-area: main-view;
}

#home-page {
    max-height: calc(100vh - 8.5rem);
}

#home-page section {
    padding: 0 2rem;
}

#home-page section .title {
    margin-bottom: 1rem;
}

#home-page section .title h3>a {
    font-size: 1.5rem;
    font-weight: 700;
}

#home-page section .title a {
    display: block;
    font-size: 0.875rem;
}

#home-page section .title a:hover {
    text-decoration: underline;
}

#home-page section .content {
    transition: opacity 1s ease-in-out;
}

#home-page section .content .overlay {
    cursor: pointer;
    background-color: #121212;
    padding: 1rem;
}

#home-page section .content .overlay .item .item-img {
    margin-bottom: 1rem;
}

#home-page section .content .overlay .item .item-content a {
    padding-bottom: 0.3rem;
}

#home-page section .content .overlay .item .item-content a span {
    font-size: 1rem;
    font-weight: 700;
}

#home-page section .content .overlay .item .item-content p {
    padding-top: 0.25rem;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    opacity: 0.5;
}

#home-page section .content .overlay:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.25));
    opacity: 0.8;
}

#side-bar {
    grid-area: side-bar;
    padding: 1.5rem 0 0 0;
    height: 100%;
    width: 240px;
    background-color: #000;
}

#logo {
    margin: 0 0 1.125rem;
    padding: 0 1.5rem;
}

#logo a {
    display: block;
    width: 100%;
    line-height: 2rem;
}

#logo a i {
    font-size: 2.5rem;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu ul li {
    padding: 0 0.5rem;
}

#menu ul li a {
    opacity: 0.6;
    padding: 0 1rem;
    height: 2.5rem;
    gap: 1rem;
}

#menu ul li a i {
    font-size: 1.5rem;
}

#menu ul li a span {
    font-size: 0.875rem;
    font-weight: 700;
}

#menu ul li a:is(.active),
#menu ul li a:hover {
    opacity: 1;
}

#user-actions .action-button {
    padding: 0.5rem 1.5rem;
}

#user-actions .action-button button {
    opacity: 0.6;
    width: 100%;
    background-color: #000;
    gap: 1rem;
}

#user-actions .action-button button span:first-child {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.125rem;
}

#user-actions .action-button button span:first-child i {
    font-size: 0.75rem;
    font-weight: 600;
}

#user-actions .action-button button .playlist-add {
    background-color: white;
}

#user-actions .action-button button .playlist-add i {
    color: black;
}

#user-actions .action-button button .liked-song {
    background: linear-gradient(135deg, #450af5, #c4efd9);
}

#user-actions .action-button button .liked-song i {
    color: white;
}

#user-actions .action-button button span {
    font-size: 0.875rem;
    font-weight: 700;
    color: #fff;
}

#user-actions .action-button button:is(.active),
#user-actions .action-button button:hover {
    opacity: 1;
}

#user-settings .cookie {
    margin: 2rem 0;
    padding: 0 1.5rem;
}

#user-settings .cookie a {
    opacity: 0.6;
    text-decoration: none;
    font-size: 0.6875rem;
}

#user-settings .cookie a:hover {
    opacity: 1;
    text-decoration: underline;
}

#user-settings .languages {
    margin: 0 0 2rem;
    padding: 0 1.5rem;
    margin-bottom: 100px;
}

#user-settings .languages button {
    background-color: black;
    border: 0.8px solid rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    height: 2rem;
    color: #fff;
    gap: 0.25rem;
}

#user-settings .languages button span {
    font-size: 0.875rem;
    font-weight: 700;
}

#user-settings .languages button:hover {
    border: 0.8px solid rgb(255, 255, 255);
    transform: scale(1.05);
}

footer {
    grid-area: now-playing-bar;
    width: 100%;
    background-color: #181818;
    color: white;
    height: auto;
}

footer #now-playing-bar {
    padding: 0.75rem 1rem;
}

footer #now-playing-bar #now-playing-bar-left img {
    width: 56px;
    height: 56px;
}

footer #now-playing-bar #now-playing-bar-left .title {
    font-size: 1rem;
    letter-spacing: -1px;
}

footer #now-playing-bar #now-playing-bar-left .authors {
    font-size: 0.6rem;
}

footer #now-playing-bar #now-playing-bar-left .authors a {
    color: #7c7c7c;
}

footer #now-playing-bar #now-playing-bar-left .authors a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

footer #now-playing-bar #now-playing-bar-left div>i {
    opacity: 0.6;
}

footer #now-playing-bar #now-playing-bar-left div:hover>i {
    opacity: 1;
}

footer #now-playing-bar #now-playing-bar-center .player-controls button {
    width: 32px;
    height: 32px;
    background-color: #181818;
}

footer #now-playing-bar #now-playing-bar-center .player-controls button i {
    color: #FFF;
}

footer #now-playing-bar #now-playing-bar-center .playback-bar .playback-position,
footer #now-playing-bar #now-playing-bar-center .playback-bar .playback-duration {
    font-size: 0.6rem;
}

footer #now-playing-bar #now-playing-bar-center .playback-bar .progress-bar {
    background-color: #5e5e5e;
    height: 4px;
}

footer #now-playing-bar #now-playing-bar-right .volumn-bar {
    width: 100px;
    background-color: #5e5e5e;
    height: 4px;
}

/*# sourceMappingURL=index_login.css.map */

.hightlightWord {
    font-weight: bold;
    color: white;
    cursor: pointer;
}

/* .hightlightWord:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  } */
.card-text {
    color: lightgray;
    font-size: x-small;
}

#menu {
    padding-left: 0;
    z-index: 1;
}

/* border-bnt*/
.bd-btn {
    border: 1px solid black;
}

/* Ẩn nút "play" mặc định */
.play-btn {
    display: none;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 3px;
    margin: 4px 2px;
    cursor: pointer;
}


/* Hiển thị nút "play" khi có lớp "show" */
.play-btn.show {
    background-color: #1ed760;
    display: block;
}

/* Hiện play ở giữa card */
.play-btn-wrapper {

    position: absolute;
    /* hoặc sử dụng relative nếu cần */
    top: 39%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.play-btn-wrapper2 {

    position: absolute;
    /* hoặc sử dụng relative nếu cần */
    top: 42%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* background sang */
.card.bg-bg {
    background-color: #282828;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.card.bg-bg:hover {
    background-color: gray;
}


#progress-bar {
    width: 100%;
    height: 10px;
    background-color: hsla(0, 0%, 100%, .3);
    position: relative;
    margin-top: 20px;
}

#progress-bar-fill {
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    transition: width 0.1s linear;
}

#progress-bar-time {
    color: #fff;
    margin-top: 25%;
}

#progress-bar-time-full {
    color: #fff;
    margin-top: 25%;
}

#main-view {
    grid-area: main-view;
    max-height: 80vh;
    overflow-y: scroll;
}

#main-view::-webkit-scrollbar {
    display: none;
}


.lean {
    position: relative;
    transform: rotate(40deg) translateY(25%);
    width: 68%;
    left: 57%;
    object-fit: cover;
}

.card {
    overflow: hidden;
}

/* search */
.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 40px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    /* margin: 0 auto; */
    width: auto;
    max-width: 400px;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
}

.searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
}

.searchbar-clear-icon {
    margin-right: 12px
}

.voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
}


#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#popup-content {
    background-color: rgb(39, 40, 41);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#close-popup {
    background-color: #1ed760;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
}

/* Doi mau popover */
.popover {
    background-color: #007bff;
}


/* background tung khung*/
#top_hit {
    background-color: rgb(141, 103, 171);
}

#forYou {
    background-color: rgb(30, 50, 100);
    ;
}

#post_cast {
    background-color: rgb(39, 133, 106);
}

#new_music {
    background-color: rgb(232, 17, 91);
}

#discovery {
    background-color: rgb(141, 103, 171);
}

#events {
    background-color: rgb(115, 88, 255);
}

#vietnam {
    background-color: rgb(180, 155, 200);
}

#kpop {
    background-color: rgb(20, 138, 8);
}

#pop {
    background-color: rgb(240, 55, 165);
}

#mood {
    background-color: rgb(156, 240, 225);
}

#allthesleep {
    background-color: rgb(140, 25, 50);
}

#pride {
    background-color: rgb(215, 242, 125);
}

#fresh {
    background-color: rgb(141, 103, 171);
}

#rockears {
    background-color: rgb(20, 138, 8);
}

#heart {
    background-color: rgb(115, 88, 255);
}

#rock {
    background-color: rgb(175, 40, 150);
}

#hit_hop {
    background-color: rgb(235, 30, 50);
}

#soul {
    background-color: rgb(220, 20, 140);
}

/* Thiết lập các quy tắc CSS cho các khung hình nhỏ hơn 1101px */
@media (max-width: 1100px) {
    .t1 {
        display: none;
    }

}

@media (max-width: 768px) {
    footer #now-playing-bar #data h6 {
        font-size: 0.4rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin: 0;
    }

    footer #now-playing-bar #data p {
        font-size: 0.5rem;
        font-weight: 600;
        margin: 0;
    }

    .search-icon-wrapper {
        display: none;

    }


}

@media (max-width: 767px) {
    .searchbar {
        display: none;
    }


}

/* iphone 6/7/8 plus */
@media (max-width: 450px) {


    .searchbar {
        display: none;
    }


}






/* Thiết lập các quy tắc CSS cho các khung hình nhỏ hơn 1101px */
@media (max-width: 1100px) {
    .t1 {
        display: none;
    }

}

@media (max-width: 768px) {
    #anh {
        margin-left: 10px;
        height: 55px;
        width: 100px;

    }

    .player-controls-center {
        margin-left: 100px;
    }

}

@media (max-width: 600px) {
    #anh {
        margin-left: 10px;
        height: 55px;
        width: 100px;

    }

    .player-controls-center {
        margin-left: 130px;
    }

    #now-playing-bar-center {
        margin-left: 80px;
    }

    .playback-bar {
        margin-left: 20px;
    }

    .title {
        width: 140px;
    }
}

@media (max-width: 415px) {
    #anh {
        margin-left: 10px;
        height: 55px;
        width: 100px;

    }

    .player-controls-center {
        margin-left: 120px;
    }

    #now-playing-bar-center {
        margin-left: 80px;
    }

    .playback-bar {
        margin-left: 10px;
    }

    .title {
        width: 70px;
    }

    #sign-in {
        display: none;
    }
}